/*
todo:

buttons borders on hover:
  on hover make border
fonts:
  download and include font
  define font sizes
delete button:
  center bottom
checkbox_image:
  center at center
*/



@font-face {
    font-family: 'HelveticaNeueUltraLight';
    src: url(fonts/HelveticaNeue-UltraLight.otf) format('truetype');
}
@font-face {
    font-family: 'HelveticaNeueLight';
    src: url(fonts/HelveticaNeue_Light.ttf) format('truetype');
}
@font-face {
    font-family: 'HelveticaNeueLightItalic';
    src: url(fonts/Helvetica-Neue-Light-Italic.ttf) format('truetype');
}

body{
  background-color: #f5f5f5;
}

.todos_header{
  font-family: HelveticaNeueUltraLight;
  font-size: 100pt;
  background-color: #f5f5f5;
  margin: 10% 0 0 0;
  text-align: center;
}

.todos{
  background-color: #ffffff;
  text-align: center;
  width: 560px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 3;
  box-shadow: 3px 3px 3px 1px #d4d4d4;
}

.card{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item:after{
  content: "";
  display: block;
  clear: both;
}
.header{
  border-bottom: 1px solid #e5e5e5;
  height: 60px;
  padding: 0;
}

.checkbox_items{
  float:left;
  margin:  24px 18px 24px 18px;
}
.text_header{
  font-family: HelveticaNeueLightItalic;
  font-size: 24pt;
  float: left;
  border: 0;
  width: 488px;
  height: 60px;
  /*margin: 0 0 0 0px;*/
  padding: 0 0 0 12px;
  align-items: baseline;
  background-color:  #ffffff;
}

.item{
  height: 60px;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 0;
}

.checkbox_container{
  float: left;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  background-color:  #ffffff;
  margin:13px 14px 13px 12px;
}

.checkbox_image{
  float: left;
  width: 20px;
  height: 20px;
  margin-left: -41px;
  margin-top: 19px;
}

.im_table{
  /*display: table;*/
}
.im_cell{
  /*display: table-cell;
  vertical-align: bottom;*/
}
.delete_image{
  /*background-color: #B5C5F1;*/
  float: right;
  width: 18px;
  height: 18px;
  /*display: block;*/
  /*display: inline-block;*/
  margin: auto 12px auto 12px;

  display:table;
  vertical-align:middle;
  /*text-align: center;*/
}

.text_header:hover,
.text:hover,
.item:hover,
.header:hover{
  background-color:  #fafafa;
}

.text{
  font-family: HelveticaNeueUltraLight;
  font-size: 24pt;
  float: left;
  border: 0;
  width: 70%;
  height: 58px;
  margin-top: 0;
  margin-bottom: 0;
  align-items: baseline;
  padding-left: 12px;
  background-color:  inherit;
}


.terminator{
  overflow: hidden;
}

.footer{
  font-family: HelveticaNeueLight;
  font-size: 12pt;
  text-align: center;
  /*height: 40px;*/
  padding: 5px 12px 5px 12px;
}

#left_container{
  float: left;
  /*margin: 12px;*/
}
#items_left{
  /*margin: 12px;*/
}
#center_container{
  display: inline-block;
}
#rigth_container{
  float: right;
}
/*why no hovering?*/
.footer_button:hover{
  border-color: : #ebdfdf;
  height: 20px;
  cursor:pointer;
}
.footer_button{
  font-family: HelveticaNeueLight;
  font-size: 12pt;
  background-color: #ffffff;
  border-color: : #ffffff;
  text-align: center;
  vertical-align: baseline;
  display: inline-block;
  height: 20px;
}

.sheet{
  width: 555px;
  height: 50px;
  background-color: #ffffff;
  position: relative;
  box-shadow: 3px 3px 3px 1px #d4d4d4;
  margin-left: auto;
  margin-right: auto;
}

#sheet1{
  z-index: 2;
  margin-top: -42px;
}
#sheet2{
  width: 545px;
  z-index: 1;
  margin-top: -42px;
}
